@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font: "monospace", "FantasqueSansMono Nerd Font", "JetbrainsMono nerd font",
    monospace, mono;
  --bgcolor: #1f1d2e;
  --linkcolor: #e0def4;
}

/*-----------------------------------------------------------*/
.everything {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
.search-boxes {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;

}

.search-column-one {
  order: 1;
  min-width: 150px;
  width: 39.5vw;
}

.search-column-two {
  order: 2;
  min-width: 150px;
  width: 39.5vw;
}
.box{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

input {
  color: #e0def4;
  background: #191724;
  font: var(--font);
  font-weight: bold;
  border: 1px solid;
  text-align: center;
  outline: none;
  padding: 10px 30px;
  font-size: 15px;
  grid-column: 1 / -1;
  margin: 10px 0px 0px 0px;
  width: 35.5vw;

  /* min-width: 000px; */
  /* box-sizing: border-box; */
  background-color: #1f1d2e;
}
/* form { */
/*   min-width: 150px; */
/*   width: 09.5vw; */
/* } */
.pre-search {
	z-index: -1;
  /* display: inline-block; */
  /* padding: 5px; */
  /* padding-left: 10px; */
	right: 10px;
	/* text-align: none; */
	font-size: 00px;
  /* border-left: 1px solid; */
  color: #6e6a86;
  /* background-color:#f6c177; */
}
.search-google {
  color: #f6c177;
}
.search-youtube {
  color: #eb6f92;
}
.search-go {
  color: #31748f;
}

.search-github {
  color: #c4a7e7;
}

.search-aur {
  color: #9ccfd8;
}
body {
  background-color: #191724;
  background-size: cover;
}

ul {
  padding-inline-start: 0;
  list-style: none;
}
.link {
  margin-top: 15px;
  display: inline-flex;
  flex-direction: column;
  text-align: justify;
}

.list-one {
  order: 1;
}

.list-two {
  order: 2;
}

a {
  display: inline-block;
  line-height: 40px;
  min-width: 180px;
  width: 33.5vw;
  font-family: var(--font);
  color: var(--linkcolor);
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 10px;
  transition: 0.2s;
  text-align: center;
  background-color: #26233a;
  font-style: italic;
  border: 1px solid #e0def4;
  font-weight: 300;
}

a:hover {
  color: #1f1d2e;
  background-color: #31748f;
  outline: 2px solid #e0def4;
  font-weight: 900;
}

.time {
  font-family: monospace;
  font-weight: mono;
  font-size: 5.5rem;
  margin: 50px 0px 50px 0px;
  color: var(--linkcolor);
  /* text-shadow: -5px 5px 0px #eb6f92, -10px 10px #f6c177, -15px 15px 0px #C3A5E6, -20px 20px 0px #31748f; */
}
.cS {
	display:flex;
  flex-direction: column;
	text-align: center;;
}

button {
  position: relative;
  display: inline-block;
  outline: none;
  cursor: pointer;
  letter-spacing: 03px;
  text-align: center;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #e0def4;
  margin-bottom: 15px;
  margin-right: 10px;
  text-decoration: none;
  background-color: transparent;
  font-style: italic;
  min-width: 100px;
  width: 22vw;
}
button:hover {
  font-weight: 900;
  transition: 0.3s;
}

button::after {
  content: "";
  width: 100%;
  z-index: -1;
  text-decoration: none;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  /* transition: 0.2s; */

  /* font-size: 10px; */
  transition: 0.3s;

  font-style: italic;
}
button:hover::after {
  top: 0px;
  left: 0px;
}

/* -------------------- */
/* ---------1---------- */
/* -------------------- */
/* base */
button#btnBase {
  color: #e0def4;
}
button#btnBase::after {
  background-color: #191724;
}

/* surface */
button#btnSurface {
  color: #e0def4;
}
button#btnSurface::after {
  background-color: #1f1d2e;
}

/* overlay */
button#btnOverlay {
  color: #e0def4;
}
button#btnOverlay::after {
  background-color: #26233a;
}
/* -------------------- */
/* ---------2---------- */
/* -------------------- */
/* muted */
button#btnMuted {
  color: #e0def4;
}
button#btnMuted::after {
  background-color: #6e6a86;
}
/* subtle */
button#btnSubtle {
  color: #191724;
}
button#btnSubtle::after {
  background-color: #908caa;
}
/* text */
button#btnText {
  color: #191724;
}
button#btnText::after {
  background-color: #e0def4;
}
/* -------------------- */
/* ---------3---------- */
/* -------------------- */
/* love */
button#btnLove {
  color: #191724;
}
button#btnLove::after {
  background-color: #eb6f92;
}
/* gold */
button#btnGold {
  color: #191724;
}
button#btnGold::after {
  background-color: #f6c177;
}
/* rose */
button#btnRose {
  color: #191724;
}
button#btnRose::after {
  background-color: #ebbcba;
}
/* -------------------- */
/* ---------4---------- */
/* -------------------- */
/* pine */
button#btnPine {
  color: #e0def4;
}
button#btnPine::after {
  background-color: #31748f;
}
/* foam */
button#btnFoam {
  color: #191724;
}
button#btnFoam::after {
  background-color: #9ccfd8;
}
/* iris */
button#btnIris {
  color: #191724;
}
button#btnIris::after {
  background-color: #c4a7e7;
}
/* -------------------- */
/* ---------5---------- */
/* -------------------- */
/* Highlight low */
button#btnHlLow {
  color: #e0def4;
}
button#btnHlLow::after {
  background-color: #21202e;
}
/* Highlight Medium */
button#btnHlMed {
  color: #e0def4;
}
button#btnHlMed::after {
  background-color: #403d52;
}
/* Highlight High */
button#btnHlHigh {
  color: #e0def4;
}
button#btnHlHigh::after {
  background-color: #524f67;
}
